<!-- views/form.html -->

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Fiber Example</title>
    <link rel="stylesheet" href="/styles/main.css" />
  </head>
  <body>
    <form action="/login" method="post">
      <label for="id">Enter id:</label>
      <input type="text" id="id" name="id" required />
      <label for="token">Enter token:</label>
      <input type="text" id="token" name="token" required />
      <button type="submit">Login</button>
    </form>
  </body>
</html>
